body {
    display: flex;
    flex-direction: column;
    align-items: center; /* centre horizontalement */
    justify-content: center; /* centre verticalement si hauteur prise en compte */
    min-height: 100vh;
    margin: 0;
    background-color: pink;
}

h1{
    font-family: monospace;
    color: rgb(167, 208, 244);
    font-size: 35px;
}

.bouton {
    width: 280px; /* ajuste selon la taille du bouton voulu */
    height: auto;
    border: none;
    cursor: pointer;
    outline: none;
    
}

#pizza,
#pasteque,
#sushi,
#ice,
#chips,
#chicken {
    height: 150px;
}

#manger{
    flex-direction: row;
}

#divb {
    margin-top: 50px;
}
