body {
    display: flex;
    flex-direction: column;
    align-items: center; /* centre horizontalement */
    justify-content: center; /* centre verticalement si hauteur prise en compte */
    min-height: 100vh;
    margin: 0;
}

h1{
    font-family: monospace;
    color: rgb(167, 208, 244);
    font-size: 35px;
}

#bouton {
    background-image: url('assets/button.gif');
    background-size: contain;
    background-repeat: no-repeat;
    width: 270px; /* ajuste selon la taille du bouton voulu */
    height: 100px;
    border: none;
    cursor: pointer;
    background-color: white;
}

#pizza,
#pasteque,
#sushi,
#ice,
#chips,
#chicken {
    height: 150px;
}

#manger{
    flex-direction: row;
}

#divb {
    margin-top: 50px;
}
